/* body {
  background: linear-gradient(045deg, #141f2f, #271d3b);
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  margin-top: 150px;
  height: auto;
}
.logo1 {
  height: 200px;
  width: 70%;
  border: 2px solid rgb(110, 84, 18);
  margin: auto;
  border-right: none;
  border-left: none;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layerIMG {
  height: 250px;
  margin-right: 50px;
}
h1 {
  margin-top: 160px;
  font-family: "Newsreader", serif;
  font-size: 65px;
  color: #cccccc;
  align-items: center;
}


.navBar {
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-top: 100px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
nav a {
  display: block;
  color: #7c7c7c;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}


main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.primerBody {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto {
  border-bottom: 2px solid rgb(110, 84, 18);
  width: 600px;
  height: 500px;
}
.texto h2 {
  color: #ddd;
  font-size: 48px;
}
.texto p {
  color: #cccccc;
  font-size: 24px;
}
.yo {
  width: 440px;
  height: 500px;
  border: 2px solid rgb(110, 84, 18);
  border-top: none;
  border-left: none;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}


.header-Libros {
  text-align: center;
}
.logo-Libros {
  height: 50px;
  width: 70%;
  border-bottom: 2px solid rgb(110, 84, 18);
  margin: auto;
  margin-bottom: -20px;
  padding: 60px;
  display: flex;
  align-items: center;
}
.layerIMG-Libros {
  height: 100px;
  margin-right: 50px;
  margin-bottom: -20px;
}
.titulo-Libros {
  font-size: 50px;
  margin-top: 80px;
}
.navBar-Libros {
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  position: absolute;
  margin-top: 50px;
}
 */
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */
/*
body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 100%;
}

header {
  color: white;
  text-align: center;
  width: auto;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.layerIMG {
  max-width: 40%;
  height: auto;
}

h1 {
  margin: 10px 0 0;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: "Newsreader", serif;
  color: black;
}

.navBar {
  width: 80%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  background-color: #ff8900;
  padding: 5px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
nav a {
  display: block;
  color: #7c7c7c;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

main {
  text-align: center;
  margin: 20px;
}

.primerBody {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(88, 17, 88);
}
h2 {
  color: white;
  font-size: 2rem;

  margin-top: -30px;
}
.texto {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  color: whitesmoke;
  padding: 15px;
}

.yo {
  max-width: 250px;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layerIMG {
  width: 50px;
  height: auto;
}

h1 {
  margin-left: 10px;
  font-size: 1rem;
}

.navBar {
  display: flex;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: grey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.primerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; /* ajusta el ancho según tus necesidades */
  margin: 0 auto;
}

.texto {
  display: flex;
  background-image: url("./IMG/fondo12.jpg");
  background-size: cover;
  background-position: right;
}

.texto > div {
  /* width: 60%; */
  padding: 10px;
  box-sizing: border-box;
}

.texto > div.vacio {
  width: 50%;
}

h2 {
  color: black;
  font-size: 2.5rem;
  text-align: left;
}

.info {
  display: flex;
  align-items: center;
  text-align: center;
}

.info img {
  width: 15px;
  height: auto;
}

.info p {
  margin: 10px;
  font-size: 15px;
}

.azul {
  background-color: rgb(12, 12, 90);
  width: 350px;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.azul h3 {
  align-self: flex-start;
  margin-bottom: 5px;
}
.azul p {
  align-self: flex-start;
  margin-bottom: 5px;
}

.gris {
  background-color: rgb(128, 127, 127);
  width: 350px;
  height: auto;
  margin-left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  margin-top: 10px;
}
.gris h3 {
  margin-bottom: 5px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.titulo-libro {
  font-size: 25px;
}
.texto-libro img {
  width: 200px;
}
